<!-- only displayed if selected Hero != null -->
<div *ngIf="product">
  <h2>{{product.name | uppercase}} Details</h2>
  <div>
    <ul class="noDots">
      <li>
        <label>Name:
          <input [(ngModel)]="product.name" placeholder="Apfel"/>
        </label>
      </li>
      <li>
        <label>Category:
          <input [(ngModel)]="product.category" placeholder="FRUIT"/>
        </label>
      </li>
      <li>
        <label>Gram per package:
          <input [(ngModel)]="product.packageGram" placeholder="500"/>
        </label>
      </li>
      <li>
        <label>kCal per 100g:
          <input [(ngModel)]="product.kCal" placeholder="100"/>
        </label>
      </li>
      <li>
        <label>Carbohydrates per 100g:
          <input [(ngModel)]="product.carbohydrates" placeholder="20"/>
        </label>
      </li>
      <li>
        <label>Protein per 100g:
          <input [(ngModel)]="product.protein" placeholder="10"/>
        </label>
      </li>
      <li>
        <label>Fat per 100g:
          <input [(ngModel)]="product.fat" placeholder="10"/>
        </label>
      </li>
      <li>
        <label>Product unit:
          <input [(ngModel)]="product.unit" placeholder="gram"/>
        </label>
      </li>
    </ul>
  </div>
  <button (click)="save()">save</button>
  <button (click)="goBack()">go back</button>
</div>
