<mat-toolbar>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
    FOODINATOR
  </mat-toolbar-row>
</mat-toolbar>
<div style="background-image: url('../assets/background.png'); height: 100%" fxLayout="column">
  <div fxFlex="50"></div>
  <div fxflex="50" fxLayout="column" fxLayoutAlign="space-between">
    <button style="margin: 5px" mat-raised-button routerLink="['/pantry']"  routerLinkActive="active">PANTRY</button>
    <button style="margin: 5px" mat-raised-button>SHOPPING LIST</button>
    <button style="margin: 5px" mat-raised-button>RECIPES</button>
    <button style="margin: 5px" mat-raised-button>FOOD TRACKER</button>
  </div>
</div>
<router-outlet></router-outlet>
